<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Adicionar Veiculo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card">
    	<div class="card-header">
		Adicionar Veiculo
		</div>
        <div class="card-body">
            <form action="/veiculos/add" method="post">
                <div class="form-group">
                    <label>Placa:</label>
                    <input type="text" class="form-control" name="placa" value="<%= placa %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Volume Rerservatorio:</label>
                    <input type="text" class="form-control" name="volume_reservatorio" value="<%= volume_reservatorio %>" autocomplete="off">
                </div>
								<div class="form-group">
                    <label>Ano de Fabricação:</label>
                    <input type="text" class="form-control" name="ano_fabricacao" value="<%= ano_fabricacao %>" autocomplete="off">
                </div>
								<div class="form-group">
                    <label>Ano Modelo:</label>
                    <input type="text" class="form-control" name="ano_modelo" value="<%= ano_modelo %>" autocomplete="off">
                </div>

								<div class="form-group">
                    <label>hodometro inicial:</label>
                    <input type="text" class="form-control" name="hodometro_inicial" value="<%= hodometro_inicial %>" autocomplete="off">
                </div>

								<div class="form-group">
                    <label>Modelo:</label>
                    <input type="text" class="form-control" name="modelo_veiculo_id" value="<%= modelo_veiculo_id %>" autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Adicionar"/>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
