<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Veículos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">


    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Relação de Veículos</a>
                </li>

                <li class="nav-pill ml-auto">
                  <a class="nav-link active" href="/">Voltar</a>
                </li>

                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/veiculos/add">Adicionar Veiculo</a>
                </li>
            </ul>
        </div>
    <div class="card-body">

        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">placa</th>
                    <th scope="col">Volume Rerservatorio</th>
                    <th scope="col">Ano Fabricação</th>
                    <th scope="col">Ano Modelo</th>
                    <th scope="col">hodometro Inicial</th>
                    <th scope="col">Marca/Modelo</th>
                    <th width="200px">Ações</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].placa%></td>
                    <td><%= data[i].volume_reservatorio%></td>
                    <td><%= data[i].ano_fabricacao%></td>
                    <td><%= data[i].ano_modelo%></td>
                    <td><%= data[i].hodometro_inicial%></td>
                    <td><%= data[i].nome %>/<%= data[i].fabricante %></td>
                    <td>
                        <a class="btn btn-success edit" href="../veiculos/edit/<%=data[i].id%>">Alterar</a>
                        <a class="btn btn-danger delete" onclick="return alert('Você tem certeza?')" href="../veiculos/delete/<%=data[i].id%>">Excluir</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>

        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">Nenhum Veiculo Cadastrado!</p>
        <% } %>

        </div>
    </div>

</body>
</html>
